*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

#cityCanvas {
    background-color: rgb(100, 189, 100);
}